<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      
      <% if params[:plan] == '2' %>
        <h2 class="text-center">Pro Plan - $10/Month</h2>
        <div class="well">
          <%= render "pro_form" %>
          <%= render "devise/shared/links" %>
        </div>
      <% else %>
        <h2 class="text-center">Basic Plan - Free</h2>
        <div class="well">
          <%= render "basic_form" %>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
      
        
      
      </div>
    </div>
  </div>


